SUBMISSION_URL="https://my-site.com/submit-application"
ACTION_RUN_LINK="https://github.com/my-user/my-repo/actions"
REPO_NAME="my-user/my-repo"
SIGNING_SECRET="super-secret-string"
NAME="John Doe"
EMAIL="test@mail.com"
RESUME_LINK="https://www.my-resume-link.com/view-resume"
